@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap");
*,
::after,
::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-file-upload-button,
::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl,
ol,
ul {
  margin: 1em 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/***********************************************************************/
/***************************** BODY / HTML *****************************/
/***********************************************************************/
*:not(head, script, table, tbody, tfoot, thead, tr, td, th),
::after,
::before {
  display: flex;
  flex-direction: column;
}

html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  /* font-size: 62.5%; */
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  flex: 1 0;
  font-size: 27px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

html,
body {
  overflow: auto;
}

/************************************************************************/
/***************************** ADAPTIVE-IMG *****************************/
/************************************************************************/
*[class*=adaptive-img] {
  position: relative;
}

*[class*=adaptive-img] > span,
*[class*=adaptive-img] > span > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

*[class*=adaptive-img] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
}

*[class*=adaptive-img] > span > img {
  width: 0;
  height: 0;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.adaptive-img--cover > span > img {
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  object-fit: contain;
}

/***********************************************************************/
/***************************** TITLE RESET *****************************/
/***********************************************************************/
h1,
h2,
h3,
h4 {
  margin: 0;
}

:root {
  --border-color: rgba(0,0,0,0.14);
  --background-hover:rgb(231, 228, 228);
}

body > div {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

@media (min-width: 992px) {
  .burger {
    display: none;
  }
}
@media (max-width: 992px) {
  header {
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    background: white;
    transform: translateX(-300px);
    transition: 0.5s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
}
.burger {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  z-index: 10;
}
.burger div {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 10px;
  width: 40px;
  background-color: #eb7077;
  z-index: 9;
}
.burger div::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 0px;
  height: 10px;
  width: 40px;
  background-color: #eb7077;
  z-index: 9;
}
.burger div::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 0px;
  height: 10px;
  width: 40px;
  background-color: #eb7077;
  z-index: 9;
  height: 10px;
}
.burger:hover + header {
  transform: translateX(0);
}

header {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  border-right: 1px solid var(--border-color);
  top: 0;
  right: 0;
  height: 100%;
}
header:hover {
  transform: translate(0);
}
header div:first-child {
  min-height: 57px;
  max-height: 57px;
  width: 300px;
  margin-top: 30px;
}
header .version {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 83px;
  height: 45px;
  display: flex;
  position: relative;
  padding-left: 10px;
  background-color: white;
  justify-content: center;
  height: 44px;
  font-size: 13px;
  font-weight: 400;
  line-height: 44px;
  font-family: "Inconsolata";
  color: rgba(0, 0, 0, 0.87);
}
header .version::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .version:hover {
  background-color: var(--background-hover);
}
header .version:hover .version__switch {
  transform: scale(1);
}
header .version::before {
  width: 0;
  top: 22px;
  height: 0;
  content: "";
  right: 18px;
  position: absolute;
  border-top: 5px solid #2c2c2cc0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
header .version__switch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transform: scale(0);
  transform-origin: left top;
  transition: 0.3s;
  z-index: 2;
}
header .version__switch a {
  padding-left: 1rem;
  width: 100%;
  background-color: #ffffff;
}
header .version__switch a:hover {
  background-color: var(--background-hover);
}
header .search {
  width: 298px;
  height: 62px;
  position: relative;
}
header .search::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--border-color);
  top: 0;
  right: 0;
  width: 100%;
}
header .search::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--border-color);
  bottom: 0;
  right: 0;
  width: 100%;
}
header .search div {
  margin: 0;
}
header .search div::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  height: 24px;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../IMG/loupe.svg);
}
header .search div input {
  width: 298px;
  height: 62px;
  border: none;
  outline: none;
  padding: 0 30px 0 30px;
}
header nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  font-size: 13px;
  line-height: 44px;
}
header nav ul {
  margin: 0;
}
header nav ul li {
  padding: 0 0 0 30px;
}
header nav ul li:hover {
  background-color: var(--background-hover);
}
header nav ul ul {
  height: 0;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}
header nav ul li:hover + ul {
  height: 100%;
}
header nav ul li + ul:hover {
  height: 100%;
}
header nav ul ul li {
  padding-left: 60px;
}
header nav li + ul {
  height: 0;
}

main {
  flex: 1 0;
  height: 100vh;
}

/*# sourceMappingURL=theme.css.map */
