// font
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap");
// mixins
@mixin border-before ($position) {
    &::before {
        content: "";
        position: absolute;
        @if $position=="top" {
        border-top: 1px solid var(--border-color);
        top:0;
        right: 0;
        width: 100%;
        }
        @else if $position=="bottom" {
        border-bottom: 1px solid var(--border-color);
        bottom:0;
        right: 0;
        width: 100%;
        }
        @else if $position=="left" {
        border-left: 1px solid var(--border-color);
        top:0;
        left: 0;
        height: 100%;
        }
        @else if $position=="right" {
        border-right: 1px solid var(--border-color);
        top:0;
        right: 0;
        height: 100%;
        }
    }
}
@mixin border-after ($position) {
    &::after {
        content: "";
        position: absolute;
        @if $position=="top" {
        border-top: 1px solid var(--border-color);
        top:0;
        right: 0;
        width: 100%;
        }
        @else if $position=="bottom" {
        border-bottom: 1px solid var(--border-color);
        bottom:0;
        right: 0;
        width: 100%;
        }
        @else if $position=="left" {
        border-left: 1px solid var(--border-color);
        top:0;
        left: 0;
        height: 100%;
        }
        @else if $position=="right" {
        border-right: 1px solid var(--border-color);
        top:0;
        right: 0;
        height: 100%;
        }
    }
}

@mixin font-version {
    height: 44px;
    font-size: 13px;
    font-weight: 400;
    line-height: 44px;
    font-family: "Inconsolata";

    color: rgba(0, 0, 0, 0.87);
}

@mixin burger ($top,$left){
    position: absolute;
    top: $top;
    left: $left;
    height: 10px;
    width: 40px;
    background-color: #eb7077;
    z-index: 9;
}