@use "./mixins.scss";

// General
body > div {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
a {
    text-decoration: none;
    color: black;
}
@media (min-width: 992px) {
    .burger {
        display: none;
    }
}
@media (max-width: 992px) {
    header {
        top: 0;
        left: 0;
        z-index: 100;
        position: fixed;
        background: white;
        transform: translateX(-300px);
        transition: 0.5s ease-in-out;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
        0 1px 5px 0 rgb(0 0 0 / 20%);
    }
}
// burger
.burger {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 50px;
    width: 50px;
    background-color: transparent;
    z-index: 10;
        div {
            @include mixins.burger (5px, 5px);
            &::before {
                content: "";
                @include mixins.burger (24px, 0px);
            }
            &::after {
                content: "";
                @include mixins.burger (12px, 0px);
                height: 10px;
                }
        }
        
        &:hover + header {
                transform: translateX(0);
            }
    }
// header
// logo et versions 
header {
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @include mixins.border-before(right);
    &:hover {
        transform: translate(0);
    }
        div:first-child{
        min-height: 57px;
        max-height: 57px;
        width: 300px;
        margin-top: 30px;
        }
        .version {
        margin: 0;
        margin-top: 15px;
        margin-bottom: 20px;
        width: 83px;
        height: 45px;
        display: flex;
        position: relative;
        padding-left: 10px;
        background-color: white;
        justify-content: center;
        @include mixins.font-version;
            &::after{
                content: "";
                position: absolute;
                bottom:0;
                right: 0;
                width: 100%;
                border-bottom: 1px solid rgba(0,0,0,0.2);
                z-index: 1;       
                }
            &:hover {
                background-color: var(--background-hover);
                .version__switch {
                transform: scale(1);
                }
            }
            &::before{
                width : 0;
                top: 22px;
                height : 0;
                content: "";
                right: 18px;
                position: absolute;
                border-top : 5px solid #2c2c2cc0;
                border-right : 5px solid transparent;
                border-left : 5px solid transparent;
                }
        }
        .version__switch {
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            background-color: #ffffff;
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
            transform: scale(0);
            transform-origin: left top;
            transition: 0.3s;
            z-index: 2;
        }
        .version__switch a {
            padding-left: 1rem;
            width: 100%;
            background-color: #ffffff;
                &:hover {
                    background-color: var(--background-hover);
                }
        }
// barre de recherche 
        .search{
            width: 298px;
            height: 62px;
            position: relative;
            @include mixins.border-before(top);
            @include mixins.border-after(bottom);
                div {
                margin: 0;
                    &::after {
                        content: "";
                        position: absolute;
                        top:15px;
                        right: 15px;
                        height: 24px;
                        width: 24px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-image: url(../IMG/loupe.svg);
                    }
                    input {
                        width: 298px;
                        height: 62px;
                        border: none;
                        outline: none;
                        padding: 0 30px 0 30px;
                    }
                }
        }
// Nav
        nav {
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow-y: auto;
            font-size: 13px;
            line-height: 44px;
                ul {
                    margin: 0;
                }
                ul li {
                    padding: 0 0 0 30px;
                }
                ul li:hover{
                background-color: var(--background-hover);
                }
                ul ul {
                    height: 0;
                    transition: 0.5s ease-in-out;
                    overflow: hidden;
                }
                ul li:hover + ul{
                    height: 100%;
                    }
                ul li + ul:hover{
                    height: 100%;
                    }
                ul ul li {
                    padding-left: 60px;
                }
                li + ul {
                    height: 0;
                }
                
                



        }  
}


main {
    flex:  1 0;
    height: 100vh;
}